businessReview {
  .container {
    .header {
      display: flex;
      align-items: flex-end;
      color: rgba(153, 153, 153, 255);
    }
  }
  .collapsible-header {
    color: #7d7d7d;
    position: relative;
  }
  .collapsible-header i {
    width:7rem;
    color: #7d7d7d;
    margin-left: -70px;
  }
  .collapsible-header-right {
    position: absolute;
    right: 20px;
  }
  .collapsible-header-right span {
    padding-right: 25px;
  }
  .collapsible-header img {
    width: 27px;
    margin-right: 35px;
  }
}