/*@import './styles/materializecss/sass/materialize.scss';
@import './styles/variables.scss';
@import './styles/base.scss';
@import './styles/header1.scss';
@import './styles/header2.scss';
@import './styles/login.scss';
@import './styles/engagements.scss';
@import './styles/proCharter.scss';
@import './styles/rti.scss';
@import './styles/workshops.scss';
@import './styles/dashboard.scss';
@import './styles/userStories.scss';
@import './styles/userStory.scss';
@import './styles/hlarch.scss';
@import './styles/archreview.scss';
@import './styles/businessreview.scss';
@import './styles/nextsteps.scss';
@import './styles/mindmap.scss';
@import './styles/jsmind.scss';*/

/*@import './materializecss/sass/_materialize.scss';*/
@import './variables.css';
@import './base.css';
@import './header1.css';
@import './header2.css';
@import './login.css';
@import './engagements.css';
@import './proCharter.css';
@import './rti.css';
@import './workshops.css';
@import './dashboard.css';
@import './userStories.css';
@import './userStory.css';
@import './hlarch.css';
@import './archReview.css';
@import './businessReview.css';
@import './nextsteps.css';
@import './mindmap.css';
@import './jsmind.css';


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
