rhmindmap {
  .container {
    .header {
      display: flex;
      align-items: flex-end;
      color: rgba(153, 153, 153, 255);

    }
  }
  .show_mind_map {
    width: 1300px;
    height: 900px;
  }
}


